/* Based on Sinorca 2.0 and Gazette stylesheets, by Haran */

/* ##### Common Styles ##### */

body {
  color: black;
  background-color: white;
  font-family: "Trebuchet ms",Trebuchet,Georgia,"Times New Roman",Times,Serif;
  font-size: 9pt;
  margin-right: 1em;
  padding: 0;
}

acronym, .titleTip {
  font-style: italic;
  border-bottom: none;
}

acronym:after, .titleTip:after {  /* Prints titles after the acronyms/titletips. Doesn't work in MSIE */
  content: "(" attr(title) ")";
  font-size: 90%;
  font-style: normal;
  padding-left: 1ex;
}

.smallCaps {
  font-size: 110%;
  font-variant: small-caps;
}

.sideNote {
  font-style: italic;
  margin: 1ex 3em 1ex 3em;
  padding: 1ex 1em 1ex 1em;
  border-top: 0.3ex solid;
  border-bottom: 0.3ex solid;
}

.smallText {
  font-size: 80%;
  line-height: 14px;
}

.submit {
  font-size: 90%;
  font-weight: bold;
  color: white;
  background: rgb(100,135,220);
  border: 1px solid rgb(100,135,220);
}

.icon {
  padding-right: 1em;
  border: 0;
}

/* separator bars */
.separatorBar {
  text-align: center;
  border: 1px dotted black;
  margin: 1em 1em 0 1em;
}

.header1Bar {
  border-bottom: 2px solid black;
  margin-bottom: 0.8em
}

.doNotPrint {
  display: none !important;
}

.titleBar {
  color: black;
  background-color: rgb(220,220,220);
  font-family: Verdana,Arial,Helvetica,Swiss,sans-serif;
  font-weight: bold;
  font-size: 120%;
  margin: 2em 0 1em 0;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border: 1px solid black;
}

/* source code */
div.codeCaption {
  color: black;
  background-color: transparent;
  font-family: Verdana,Arial,Helvetica,Swiss,sans-serif;
  font-weight: bold;
  margin: 1em 15px 0 15px;
  padding: 0.2em 1em 0.3em 1em;
  border: 2px solid black;
}
div.codeBlock {
  color: black;
  background-color: transparent;
  font-family: "Lucida Console","Courier New",courier,monospace;
  font-weight: normal;
  font-size: 80%;
  line-height: 1.2em;
  margin: 0 15px 0.8em 15px;
  padding: 0.2em 1em 0.2em 1em;
  border: 1px solid black;
}

/* tables */
div.dataTable {
  margin: 0 15px 0 15px;
}
table.dataTable {
  width: 100%;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}
table.dataTable th, table.dataTable td {
  padding: 0 1em 0 1em;
  text-align: left;
}
table.dataTable th {
  border-style: solid;
  border-width: 0 0 2px 0;
  font-family: Verdana,Arial,Helvetica,Swiss,sans-serif;
  font-weight: bold;
  vertical-align: bottom;
}
table.dataTable td {
  vertical-align: top;
}

table.infoWindow {
  border: 2px solid black;
  font-size: 80%;
  line-height: 16px;
  background-color: rgb(230,230,230);
}

table.projectlist {
  width: 99%;
  border: 0;
  text-align: left;
  vertical-align: top;
}
table.projectlist th {
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 15px 0 15px;
}
table.projectlist td {
  border-bottom: 1px solid black;
}

/* ##### Header ##### */

#header {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: black;
  background-color: transparent;
}

.superHeader {
  display: none;
}

.midHeader {
  display: none;
}

.subHeader {
}

.subHeader .headerquote {
  color: rgb(160,0,0);
  background-color: transparent;
  text-align: right;
  color: rgb(160,0,0);
  font-size: 80%;
  font-style: italic;
}

#header a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.subHeader .navigation {
  display: none;
}


.letterHead {
  text-align: center;
  color: rgb(160,0,0);
  font-size: 80%;
  clear: both;
}

.letterHead .left {
  text-align: left;
  float: left;
  position: relative;
}

.letterHead .right {
  text-align: right;
  float: right;
  position: relative;
}


/* ##### Side Bar ##### */

#side-bar {
  display: none;
}

.sideBarCell {
  display: none;
}

/* ##### Main Copy ##### */

#main-copy {
  text-align: justify;     /* "justify" does not work on all browsers, e.g. Firefox */
  margin: 0;
  padding: 0;
}

#main-copy h1 {
  font-family: Verdana,Arial,Helvetica,Swiss,sans-serif;
  font-size: 140%;
  font-weight: normal;
  text-align: left;
  margin: 1em 0 0 0;
  padding: 0 0 0.2em 0;
}

#main-copy h2 {
  font-family: Verdana,Arial,Helvetica,Swiss,sans-serif;
  font-size: 120%;
  font-weight: normal;
  text-align: left;
  margin: 1em 0 0 0;
}

#main-copy h3 {
  font-family: Verdana,Arial,Helvetica,Swiss,sans-serif;
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  margin: 1em 0 0 0;
}

#main-copy h4 {
  font-family: Verdana,Arial,Helvetica,Swiss,sans-serif;
  font-size: 100%;
  font-weight: bold;
  text-align: left;
  margin: 1em 0 0 0;
}

#main-copy ul {
  text-align: left;
  list-style-image: none;
  list-style-type: circle;
}

#main-copy ol {
  text-align: left;
  list-style-type: decimal;
  list-style-image: none;
}

#main-copy table {
  text-align: left;
}

#main-copy a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* Prints the links' URIs after the links' texts. Doesn't work in MSIE */
#main-copy a.extern:after {
  content: " [" attr(href) "]";
  font-size: 80%;
}

p {
  margin: 0 0 2ex 0;
  padding: 0;
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-family: Verdana,Arial,Helvetica,Swiss,sans-serif;
  font-size: 100%;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 1em 2em;
  padding: 0;
}

.topOfPage {
  display: none;
}


/* ##### Footer ##### */

#footer {
  margin: 2em 0 0 0;
  padding: 1ex 0 0 0;
  border-top: 1px solid black;
}

#footer .left {
  line-height: 1.2em;
  float: left;
  clear: left;
}

#footer .right {
  text-align: right;
  line-height: 1.2em;
}

#footer a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* ##### Picture roll-over ##### */

/* ##### Picture roll-over ##### */

#pic {
  border: 0px;
  background-color: white;
}

#pic a .large {
  display: none !important;
}

#pic a img {
  border: 0px;
}
